.duke {
  position: relative;
}

.duke__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.duke__message {
  position: absolute;
  top: 0;
}

.duke__img-container {
  position: relative;
}

/* positioning helep with AI */

.duke__plantin-pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.duke__duke-pin {
  position: absolute;
  top: 64.6%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.duke__calvinist-pin1 {
  position: absolute;
  top: 50%;
  left: 35.5%;
  transform: translate(-50%, -50%);
}

.duke__calvinist-pin2 {
  position: absolute;
  top: 65%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.duke__map {
  height: 100vh;
  width: fit-content;
  display: block;
}

@media (orientation: landscape) {
  .duke__img-container {
    width: 100%;
  }

  .duke__map {
    width: 100%;
    height: unset;
  }
}

@media (min-width: 800px) {
  .duke__plantin-pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .duke__duke-pin {
    top: 57.6%;
  }

  .duke__calvinist-pin1 {
    top: 49%;
    left: 41%;
  }

  .duke__calvinist-pin2 {
    top: 67.5%;
    left: 95%;
  }
}
