.fury {
  background-image: url("../img/fury-background.svg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-end: 1.5rem;
  position: relative;
}

.fury__duke-img,
.fury__plantin-img,
.fury__soldier-img {
  margin-block-start: 43vh;
}

.fury__message {
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.fury__duke-img {
  justify-self: flex-end;
  margin-block-end: 6.5rem;
  height: 35vh;
  width: min-content;
}

.fury__plantin-img {
  margin-inline-start: 0.9em;
  /* margin-block-end: 3.5rem; */
  height: 42vh;
  width: min-content;
}

.fury__soldier-img {
  margin-block-end: 6.5rem;
  height: 35vh;
  width: min-content;
}

@media (min-width: 380px) {
  .printer {
    background-position: 50%;
  }
}

@media (min-width: 800px) {
  .fury {
    background-position: 50%;
    background-size: 35rem;
  }
}
