.header {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* z-index: 9; */
  max-width: var(--max-width);
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.header__nav {
  display: none;
}

.header__nav-list {
  display: flex;
  gap: 1.7em;
  font-size: 1.5rem;
  padding-inline-start: 0;
}

.header__logo {
  margin: 0.8em 0.45em;
}

.header__open-button {
  border: none;
  margin: 0;
  padding: 0.5em;
  color: black; /*safari*/
  height: min-content;
  cursor: pointer;
  margin-inline-end: 1vw;
}

.header__mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--edge-padding);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  align-items: center;
  background-image: url("../img/paper.jpg");
  height: 100vh;
  padding: 1em;
  border-left: var(--stroke-width) solid var(--text-color);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.header__mobile-nav--open {
  transform: translateX(0);
}

.header__close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: none;
  background: none;
  padding: 0.5em;
  cursor: pointer;
}

.header__mobile-menu-list {
  font-size: var(--fs-1);
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding-left: 0;
  padding: 0.5em;
}

@media (min-width: 700px) {
  .header__logo {
    width: 7rem;
    margin-inline-start: 1em;
    margin-block-start: 1.1em;
  }

  .header__open-button img {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 1150px) {
  .header {
    justify-content: center;
    gap: 2.5em;
    margin-inline-start: 0.6em;
  }

  .header__open-button {
    display: none;
  }

  .header__nav {
    display: initial;
    margin-block-start: 0.5em;
  }

  .header__logo {
    width: 8.5rem;
  }
}
