.heresey {
}

.heresey__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.6em;
  padding-block-start: 20em;
  position: relative;
}

.heresey__img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  height: 50vh;
  margin: auto;
}

.heresey__pamphlet-img {
  width: min-content;
  height: 100%;
}

.heresey__wood-img {
  position: absolute;
  top: 0;
  width: 110%;
  height: min-content;
  opacity: 0;
}

.heresey__pope-img-container {
  justify-self: flex-end;
  margin: 0 auto;
  position: relative;
  height: 42vh;
  aspect-ratio: 300/268;
  margin-inline-start: 1em;
}

.heresey__pope-img {
  width: 100%;
  height: 100%;
  display: block;
}

.heresey__comment {
  position: absolute;
  left: 47%;
  top: 3%;
  width: 40%;
  opacity: 0;
}

.heresey__message {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.heresey__button {
  border: none;
  padding: 0.5em;
  position: absolute;
  background: none;
  bottom: 0;
  right: 12%;
  width: 30%;
  height: auto;
}

.heresey__button img {
  width: 100%;
  height: 100%;
}

@media (min-width: 800px) {
  .heresey__pope-img-container {
    margin: unset;
    margin-inline-start: 1em;
    width: min-content;
  }

  .heresey__pope-img {
    width: min-content;
  }

  .heresey__img-container {
    margin: unset;
    margin-inline-end: 2.7em;
  }
}

@media (orientation: landscape) {
  .heresey__container {
    max-width: 70rem;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    padding-block-start: 1em;
    padding-inline: 2em;
  }

  .heresey__img-container {
    align-self: flex-start;
    width: 50%;
  }

  .heresey__pamphlet-img {
    width: 100%;
    height: min-content;
  }

  .heresey__pope-img-container {
    width: 50%;
    height: min-content;
  }
}
