.heresey {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.6em;
  padding-block-start: 20em;
}

.heresey__img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  height: 50vh;
  margin: auto;
}

.heresey__pamphlet-img {
  width: min-content;
  height: 100%;
}

.heresey__wood-img {
  position: absolute;
  top: 0;
  width: 110%;
  height: min-content;
}

.heresey__pope-img {
  justify-self: flex-end;
  height: 42vh;
  width: min-content;
  margin: auto;
}
