.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.hero__img {
  width: 90vw;
}

.hero__message-container {
  position: absolute;
  top: 7em;
}
