.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.hero__img {
  width: 90vw;
  max-width: 32rem;
}

.hero__message-container {
  position: absolute;
  top: 7em;
}

@media (orientation: portrait) {
  .hero__img {
    max-width: 42rem;
  }
}
