.market {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.market__message {
  position: absolute;
  top: 0;
}

.market__market-img {
  width: 100%;
  height: min-content;
  position: relative;
  z-index: 3;
}

.market__img-container {
  position: relative;
  width: 25%;
  margin-block-end: -6rem;
  margin-inline-start: 0.4rem;
}

.market__plantin-img {
  width: 100%;
  height: min-content;
  z-index: 10;
  position: relative;
  transform: scaleX(-1);
}

.market__circle-img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-inline-start: -0.6rem;
  transform: translate(-50%, -25%);
}

@media (min-width: 750px) {
  .market__img-container {
    width: 16%;
    margin-block-end: -7rem;
  }

  .market__circle-img {
    margin-inline-start: -0.65rem;
    width: 17rem;
    height: 17rem;
  }
}

@media (orientation: landscape) {
  .market__img-container {
    width: 10%;
    margin-block-end: -11rem;
    margin-inline-start: 1.2rem;
  }

  /* .market__circle-img {
    margin-inline-start: -0.65rem;
    width: 20rem;
    height: 20rem;
  } */
}
