.paris {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.paris__message {
  position: absolute;
  top: 2em;
}

.paris__pin {
  position: absolute;
  top: 63%;
  left: 7%;
}

.paris__map {
  /* transform: translateY(-3rem); */
  width: max-content;
  height: 100vh;
}

@media (orientation: landscape) {
  .paris__map {
    width: 100%;
    height: unset;
    transform: translateY(-5%);
  }
}
