.paris {
  position: relative;
}

.paris__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paris__message {
  position: absolute;
  top: 2em;
}

.paris__img-container {
  position: relative;
}

/* positioning helep with AI */

.paris__pin {
  position: absolute;
  top: 41%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.paris__map {
  height: 100vh;
  width: fit-content;
  display: block;
}

@media (orientation: landscape) {
  .paris__img-container {
    width: 100%;
  }

  .paris__map {
    width: 100%;
    height: unset;
  }
}
