.printer {
  background-image: url("../img/printer-background.svg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  display: flex;
  align-items: flex-end;
}

.printer__message {
  height: min-content;
}
