.printer {
  background-image: url("../img/printer-background.svg"),
    url("../img/paper.jpg");
  background-repeat: no-repeat, repeat;
  background-position: 50% 40%, center;
  background-size: 80%, auto;
  display: flex;
  align-items: flex-end;
}

.printer__message {
  height: min-content;
  margin: 1em auto;
}

@media (min-width: 380px) {
  .printer {
    background-position: 50% 45%, auto;
  }
}

@media (min-width: 800px) {
  .printer {
    background-position: 50%;
    background-size: 35rem, auto;
  }
}
