.regia {
  background-image: url("../img/regia-background.svg"), url("../img/paper.jpg");
  background-repeat: no-repeat, repeat;
  background-position: 50% 40%, center;
  background-size: 80%, auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4em;
  position: relative;
  justify-content: center;
}

.regia__king-img,
.regia__img-container {
  margin-block-start: 45vh;
  height: 40vh;
  width: min-content;
}

.regia__message {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.regia__king-img {
  justify-self: flex-end;
  margin-block-end: 4.5rem;
}

.regia__img-container {
  position: relative;
  margin-inline-start: 0.9em;
  margin-block-end: 4.5rem;
}

.regia__plantin-img {
  transform: scaleX(-1);
  height: 100%;
  width: min-content;
}

.regia__message-img {
  position: absolute;
  right: 100%;
  top: 0;
  transform: translate(30%, -50%);
  width: 60%;
  height: min-content;
}

@media (min-width: 380px) {
  .regia {
    background-position: 50% 45%, center;
  }
}

@media (min-width: 800px) {
  .regia {
    background-size: 35rem, auto;
    gap: 18rem;
  }
}
