.scale {
  background-image: url("../img/scale-circle.svg"), url("../img/paper.jpg");
  background-repeat: no-repeat, repeat;
  background-position: 50% 50%, center;
  background-size: 80%, auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scale__img-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  transform: translateY(50%);
  gap: 0.5em 0.1em;
}

.scale__message {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 800px) {
  .scale {
    background-size: 35rem, auto;
    gap: 18rem;
  }
}
