:root {
  --bg-color: #e1dfd7;
  --text-color: #333333;
  --accent-color: #dc8c22;
  --text-background-color: #f5ece5;

  line-height: 1.5;
  font-weight: 400;

  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280px;
}
